  .custom-class {

    height: 100px;


    position: absolute;
    top: 0;
    bottom: 15em;
    left: 0;
    right: 0;

    margin: auto;
  }


  // .agm_map {
  //   height: 300px;
  //   margin-top: 3em;

  // }
